# Ghidra
*.gpr
*.gar
*.gzf
*.rep
*.lock*

# Python
*.pyc
**$py.class

# Misc
*.claude

# CMake
/build/
/cmake-build-*/

# Game
*.noc
*.POD
*.pod
*.AVI
*.exe
*.jpg
*.gif
*.html
*.INI
*.ini
*.dll
*.isu
*.js
